@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--size: 50px;   /* size of the cut */
	--gap: 10px;    /* the gap */
	--angle: 90deg; /* angle of the arrow */
  }

/* Basic */
/* Inside media queries 1em is always 16px i.e 1em = 16px at every screen size only inside media queries */
*, ::after, ::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html {
	height: 100%;
	font-size: 62.5%;
  	scroll-behavior: smooth; }
  	@media only screen and (max-width: 75em) {
  		html {
    	  font-size: 59%; } }
  	@media only screen and (max-width: 56.25em) {
    	html {
    	  font-size: 56%; } }
    @media only screen and (min-width: 112.5em) {
    	html {
      	  font-size: 65%; } 
}


body {
	box-sizing: border-box;	
	height: 100%;
	position: relative;
  	line-height: 1.5;
  	font-family: 'Roboto Serif', sans-serif;
  	font-weight: 400;
  	overflow-x: hidden;
  	overflow-y: scroll;	
}
	
a {
	text-decoration: none;
	color: inherit;
}

b, strong {
	font-weight: 600;
	color: #9ed8db;
}

i, em {
	font-style: italic;
}

li {
	list-style: none; 
}
	
input:focus,
button:focus,
a:focus,
textarea:focus {
	outline: none; 
}
	
button {
	border: none;
	cursor: pointer; 
}
	
textarea {
	resize: none; 
}
	

/* Nav */
#navbar {
    background-color: #d64045;
}

#navbar a {
	font-weight: 600;
	color: #fff8f0;
}

/* Sections */

.home {
	height: 100%;	
	background: linear-gradient(to right, rgba(29, 53, 87, 0.6), rgba(0,98,185,0.6)), url(../../images/shape.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  	}
.about {
	height: 80%;
	background: linear-gradient(to right, rgba(114, 221, 247, 0.6), rgba(29, 53, 87, 0.6)), url(../../images/shape_02.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}

.top {
	clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),calc(50% + 50.00px) calc(100% - 50px),50% 100%,calc(50% - 50.00px) calc(100% - 50px),0 calc(100% - 50px));
  }

  .bottom {
	clip-path: polygon(0 0,calc(50% - 4.14px - 50.00px) 0,50% calc(50px + 4.14px),calc(50% + 4.14px + 50.00px) 0,100% 0,100% 100%,0 100%);
	margin-top: -40px;
  }

.sec-pad {
	padding: 12rem 0; }
	@media only screen and (max-width: 56.25em) {
		.sec-pad {
		  padding: 8rem 0; } }

.projects {
   	background: #9ed8db;
}

#h-33 {
	height: 33% !important;
}

#h-10 {
	height: 10% !important;
}

#h-15 {
	height: 15% !important;
}

/* Sections */

/* Home */
.heading-primary {
	font-size: 6rem;
	letter-spacing: 3px;
	text-align: center;
	color: #fff8f0; }
	
	@media only screen and (max-width: 37.5em) {
		.heading-primary {
		  font-size: 4.5rem; } 
}

.txt-primary {
	color: #fff8f0;
	font-size: 2.2rem;
	text-align: center;
	width: 100%;
	line-height: 1.6;
}
 

  /* About */

.main-container {
	max-width: 120rem;
	margin: auto;
	width: 92%;
}

.heading-sec__mb-med {
	margin-bottom: 9rem; }
  
	@media only screen and (max-width: 56.25em) {
    .heading-sec__mb-med {
      margin-bottom: 8rem; } 
}

.heading-sec__mb-bg {
	margin-bottom: 11rem; }
	@media only screen and (max-width: 56.25em) {
	  .heading-sec__mb-bg {
		margin-bottom: 8rem; }
}
  
.heading-sec__main {
	display: block;
	font-size: 4rem;
	letter-spacing: 1px;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 3.5rem;
	position: relative;
	color:#fff8f0; 
}


/* Line separator */
.heading-sec__main::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 6px;
    width: 5rem;
    background: #d64045;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px; }
    @media only screen and (max-width: 37.5em) {
      .heading-sec__main::after {
        top: calc(100% + 1.2rem); } 
}

/*   ---------------------      */
  
.heading-sec__sub {
	display: block;
	text-align: center;
	color: #fff8f0;
	font-size: 2rem;
	font-weight: 600;
	max-width: 80rem;
	margin: auto;
	line-height: 1.6; } 
	@media only screen and (max-width: 37.5em) {
		.heading-sec__sub {
		  font-size: 1.8rem; } 
}

.about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .about__content {
        grid-template-columns: 1fr;
        grid-gap: 8rem; } }

.about__content-title {
	font-weight: 700;
	font-size: 2.8rem;
	margin-bottom: 3rem;
	color: #fff8f0; }
	@media only screen and (max-width: 37.5em) {
        .about__content-title {
          font-size: 2.4rem; } }

.about__content-details-para {
	font-size: 1.8rem;
	color: #1b263b;
	max-width: 60rem;
	line-height: 1.7;
	margin-bottom: 1rem;
}

/* Projects */

.projects__row {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-gap: 5rem;
	margin-bottom: 11rem; }
	@media only screen and (max-width: 56.25em) {
	  .projects__row {
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		margin-bottom: 8rem; } }
	@media only screen and (max-width: 56.25em) {
	  .projects__row {
		text-align: center; } }
.projects__row:last-child {
	margin-bottom: 0; }
.projects__row-img-cont {
	overflow: hidden; }
.projects__row-img {
	width: 100%;
	display: block;
	object-fit: cover; }
.projects__row-content {
	padding: 2rem 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start; }
	@media only screen and (max-width: 56.25em) {
.projects__row-content {
	align-items: center; } 
}
.projects__row-content-title {
	font-weight: 700;
	font-size: 2.8rem;
	margin-bottom: 2rem; }
	@media only screen and (max-width: 37.5em) {
		.projects__row-content-title {
		font-size: 2.4rem; } 
}
.projects__row-content-desc {
	font-size: 1.8rem;
	color: grey;
	max-width: 60rem;
	line-height: 1.7;
	margin-bottom: 3rem; }
	@media only screen and (max-width: 37.5em) {
		.projects__row-content-desc {
		font-size: 1.7rem; } 
}
 
/* Buttons */
.home-btn {
	margin-top: 5rem;
	text-align: center;
}

.btn--bg {
	padding: 1.5rem 8rem;
	font-size: 2rem;
}

.btn--med {
    padding: 1.5rem 4rem;
    font-size: 1.8rem; }
.btn--theme {
	background: #0062b9;
	color: #fff; 
}
.btn--theme-inv {
	color: #0062b9;
	background: #fff;
	border: 2px solid #0062b9;
	box-shadow: none;
	padding: calc(1.5rem - 2px) calc(5rem - 2px); 
}
.btn {
	background: #fff8f0;
	color: #323232;
	letter-spacing: 2px;
	display: inline-block;
	font-weight: 700;
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
	transition: transform .3s;
}
  /* Skill badgets */

.skills {
	display: flex;
	flex-wrap: wrap;
}

.skills__skill {
	padding: 1rem 2rem;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;
	font-size: 1.6rem;
	background: #ffbd00;
	border-radius: 5px;
	font-weight: 600;
	color: #424242;
}

/*  MOUSE CONTROL */

.mouse-scroll-cont {
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
  }

  .mouse {
	width: 25px;
	height: 40px;
	border: 3px solid #d64045;
	border-radius: 60px;
	position: relative;
	overflow: hidden;
}
  
  .mouse::before {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	top: 7px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #d64045;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 1.3s infinite;
	-webkit-animation: wheel 1.3s infinite;
  }

  @keyframes wheel {
	to {
	 opacity:0;
	 top:27px
	}
   }
   @-webkit-keyframes wheel {
	to {
	 opacity:0;
	 top:27px
	}
   }
   



/* Image */

.image {
	display: inline-block;
	position: relative;
}

	.image img {
		display: block;
		width: 100%;
	}

	.image.fit {
		display: block;
		width: 100%;
	}

	.image.featured {
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image.left {
		float: left;
		margin: 0 2em 2em 0;
	}

	.image.centered {
		display: block;
		margin: 0 0 2em 0;
	}

		.image.centered img {
			margin: 0 auto;
			width: auto;
		}

