@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--white_1: #fff8f0;  
	--white_2: #fef9ef;
	--red: #d64045;
	--black: #050505;
	--yellow: #ffbd00;
	--navhover: #03045e;
	--dark-txt: #121212;
	--light-grey: #a1a1a1;
	--btn: #ffecd1;    
	--angle: 90deg; /* angle of the arrow */
  }

/* Basic */
/* Inside media queries 1em is always 16px i.e 1em = 16px at every screen size only inside media queries */
*, ::after, ::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit;
}

/* Custom scrollbar Firefox Browsers */

* {
	scrollbar-width: thin;
	scrollbar-color: var(--red) var(--black);
  }

html {
	height: 100%;
	background-color: var(--white_1);
	font-size: 62.5%;
  	scroll-behavior: smooth;  }
  	@media only screen and (max-width: 75em) {
  		html {
    	  font-size: 59%; } }
  	@media only screen and (max-width: 56.25em) {
    	html {
    	  font-size: 56%; } }
    @media only screen and (min-width: 112.5em) {
    	html {
      	  font-size: 65%; }
	
}

body {
	box-sizing: border-box;	
	height: 100%;
	position: relative;
  	line-height: 1.5;
  	font-family: 'Roboto Serif', sans-serif;
  	font-weight: 400;
  	overflow-x: hidden;
  	overflow-y: scroll;
	scrollbar-width: auto;
	scrollbar-color: var(--red) var(--black);
}

/* Scroll bar Webkit */

body::-webkit-scrollbar {
	width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
	background: var(--black);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: var(--red);    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid var(--black);  /* creates padding around scroll thumb */
  }
	
a {
	text-decoration: none;
	color: inherit;
}

b, strong {
	font-weight: 600;
	color: var(--white_2);
}

i, em {
	font-style: italic;
}

li {
	list-style: none; 
}
	
input:focus,
button:focus,
a:focus,
textarea:focus {
	outline: none; 
}
	
button {
	border: none;
	cursor: pointer; 
}
	
textarea {
	resize: none; 
}
	

/* Navbar */
#navbar {
 
	background: linear-gradient(45deg, hsla(358, 65%, 55%, 1.0) 0%, hsla(0, 100%, 89%, 0.8) 100%);

	background: -moz-linear-gradient(45deg, hsla(358, 65%, 55%, 1.0) 0%, hsla(0, 100%, 89%, 0.8) 100%);

	background: -webkit-linear-gradient(45deg, hsla(358, 65%, 55%, 1.0) 0%, hsla(0, 100%, 89%, 0.8) 100%);

}

#navbar a {
	font-weight: 600;
	color: var(--white_2);
	font-size: 2.5rem;
}

#navbar a:hover {
	color: var(--navhover);
}

/* Sections */

.home {
	height: 100%;	
	background: linear-gradient(to right, rgba(29, 53, 87, 0.6), rgba(0,98,185,0.6)), url(../../images/shape.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  	}
.about {
	background: linear-gradient(to right, rgba(114, 221, 247, 0.6), rgba(29, 53, 87, 0.6)), url(../../images/shape_02.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}

.sec-pad {
	padding: 12rem 0; }
	@media only screen and (max-width: 56.25em) {
		.sec-pad {
		  padding: 8rem 0; } }

.projects {
	background: linear-gradient(to left, rgba(158, 216, 219, 0.6), rgba(0,98,185,0.6)), url(../../images/shape_03b.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 80vh;
	padding: 0 2rem;
	background: linear-gradient(to right, rgba(114, 221, 247, 0.6), rgba(29, 53, 87, 0.5)), url(../../images/bars_01.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
  }

/* Sections dividers */

.top {
	clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),calc(50% + 50.00px) calc(100% - 50px),50% 100%,calc(50% - 50.00px) calc(100% - 50px),0 calc(100% - 50px));
  }

.bottom {
	clip-path: polygon(0 0,calc(50% - 4.14px - 50.00px) 0,50% calc(50px + 4.14px),calc(50% + 4.14px + 50.00px) 0,100% 0,100% 100%,0 100%);
	margin-top: -40px;
}

.contact-top {
	clip-path: polygon(0 0,100% 0,100% 100%,calc(50% + 4.14px + 5.00rem) 100%,50% calc(100% - 5rem - 4.14px),calc(50% - 4.14px - 5.00rem) 100%,0 100%);
  }
.footer-bottom {
	clip-path: polygon(0 5rem,calc(50% - 5.00rem) 5rem,50% 0,calc(50% + 5.00rem) 5rem,100% 5rem,100% 100%,0 100%);
	margin-top: calc(10px - 5rem);
}

/* Gaps */

.h-33 {
	height: 33% !important;
}

.h-10 {
	height: 10% !important;
}

.h-15 {
	height: 15% !important;
}

/* Sections */

/* Home */
.heading-primary {
	font-size: 6rem;
	letter-spacing: 3px;
	text-align: center;
	color: var(--white_1); 
}
	
	@media only screen and (max-width: 37.5em) {
		.heading-primary {
		  font-size: 4.5rem; } 
}

.txt-primary {
	color: var(--white_1);
	font-size: 2.2rem;
	text-align: center;
	width: 100%;
	line-height: 1.6;
}

.txt-secondary {
	color: var(--white_2);
	font-size: 1.8rem;
	text-align: center;
	width: 100%;
	line-height: 2.0;
}
 
  /* About */

.main-container {
	max-width: 120rem;
	margin: auto;
	width: 92%;
}

.heading-sec__mb-med {
	margin-bottom: 9rem; }
  
	@media only screen and (max-width: 56.25em) {
    .heading-sec__mb-med {
      margin-bottom: 8rem; } 
}

.heading-sec__mb-bg {
	margin-bottom: 11rem; }
	@media only screen and (max-width: 56.25em) {
	  .heading-sec__mb-bg {
		margin-bottom: 8rem; }
}
  
.heading-sec__main {
	display: block;
	font-size: 4rem;
	letter-spacing: 1px;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 3.5rem;
	position: relative;
	color:var(--white_1); 
}

/* Line separator */
.heading-sec__main::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 6px;
    width: 5rem;
    background: var(--red);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px; }
    @media only screen and (max-width: 37.5em) {
      .heading-sec__main::after {
        top: calc(100% + 1.2rem); } 
}

/*   ---------------------      */
  
.heading-sec__sub {
	display: block;
	text-align: center;
	color: var(--white_1);
	font-size: 2rem;
	font-weight: 600;
	max-width: 80rem;
	margin: auto;
	line-height: 1.6; } 
	@media only screen and (max-width: 37.5em) {
		.heading-sec__sub {
		  font-size: 1.8rem; } 
}

.about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .about__content {
        grid-template-columns: 1fr;
        grid-gap: 8rem; } }

.about__content-title {
	font-weight: 700;
	font-size: 2.8rem;
	margin-bottom: 3rem;
	color: var(--white_1); }
	@media only screen and (max-width: 37.5em) {
        .about__content-title {
          font-size: 2.4rem; } }

.about__content-details-para {
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--dark-txt);
	max-width: 60rem;
	line-height: 1.7;
	margin-bottom: 1rem;
}

 /* Skills badgets */

 .skills {
	display: flex;
	flex-wrap: wrap;
}

.skills__skill {
	padding: 1rem 2rem;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;
	font-size: 1.6rem;
	background: var(--yellow);
	border-radius: 5px;
	font-weight: 600;
	color: var(--dark-txt);
}

/* Projects */

.projects__row {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-gap: 5rem;
	margin-bottom: 11rem; }
	@media only screen and (max-width: 56.25em) {
	  .projects__row {
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		margin-bottom: 8rem; } }
	@media only screen and (max-width: 56.25em) {
	  .projects__row {
		text-align: center; } }

.projects__row:last-child {
	margin-bottom: 0; 
}

.projects__row-img-cont {
	overflow: hidden; 
}

.projects__row-img {
	width: 100%;
	display: block;
	object-fit: cover; 
}

.projects__row-content {
	padding: 2rem 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start; }
	@media only screen and (max-width: 56.25em) {
		.projects__row-content {
		align-items: center; } 
}

.projects__row-content-title {
	font-weight: 700;
	font-size: 2.8rem;
	color: var(--white_1);
	margin-bottom: 2rem; }
	@media only screen and (max-width: 37.5em) {
		.projects__row-content-title {
		font-size: 2.4rem; } 
}

.projects__row-content-desc {
	font-size: 1.8rem;
	color: var(--white_2);
	max-width: 60rem;
	line-height: 1.7;
	margin-bottom: 3rem; }
	@media only screen and (max-width: 37.5em) {
		.projects__row-content-desc {
		font-size: 1.7rem; } 
}

/* Contact section */
 
  .contact-links {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1080px;
	margin-top: 4rem;
	flex-wrap: wrap;
  }
  
  .contact-details {
	font-size: 2.4rem;
	text-shadow: 2px 2px 1px var(--white_1);
	color: var(--white_1);
  }
  
  .contact-details:hover {
	transform: scale(1.3);
	color: var(--red);
  }

  .contact-btn {
	display: inline-block;
	padding: 1rem 2rem;
	border-radius: 2px;
  }

  
  /* Footer */
  
  footer {
	font-weight: 500;
	font-size: 2.4rem;
	display: flex;
	justify-content: space-evenly;
	padding: 2rem;
	background: var(--main-gray);
	border-top: 4px solid var(--main-red);
	min-height: 17%;
	background: linear-gradient(45deg, hsla(358, 65%, 55%, 1.0) 0%, hsla(0, 100%, 89%, 0.8) 100%);
	background: -moz-linear-gradient(45deg, hsla(358, 65%, 55%, 1.0) 0%, hsla(0, 100%, 89%, 0.8) 100%);
	background: -webkit-linear-gradient(45deg, hsla(358, 65%, 55%, 1.0) 0%, hsla(0, 100%, 89%, 0.8) 100%);
	color: var(--white_2);
  }

  
  footer > p {
	margin: 8rem;
  }
  
  footer i {
	vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
	footer {
	  flex-direction: column;
	  text-align: center;
	}
  }
  
 
/* Buttons */

.home-btn {
	margin-top: 5rem;
	text-align: center;
}

.btn--bg {
	padding: 1.5rem 8rem;
	font-size: 2rem;
}

.btn--med {
    padding: 1.5rem 4rem;
    font-size: 1.8rem; 
}

.btn {
	background: var(--btn);
	color: var(--dark-txt);
	letter-spacing: 2px;
	display: inline-block;
	font-weight: 700;
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
	transition: transform .3s;
}

.btn:hover {
	background-color: var(--red);
	color: var(--white_2);
}
 
/*  MOUSE CONTROL */

.mouse-scroll-cont {
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
  }

  .mouse {
	width: 25px;
	height: 40px;
	border: 3px solid var(--red);
	border-radius: 60px;
	position: relative;
	overflow: hidden;
}
  
  .mouse::before {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	top: 7px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--red);
	border-radius: 50%;
	opacity: 1;
	animation: mouse 1.3s infinite;
	-webkit-animation: mouse 1.3s infinite;
  }

  @keyframes mouse {
	to {
	 opacity:0;
	 top:27px
	}
   }
   @-webkit-keyframes mouse {
	to {
	 opacity:0;
	 top:27px
	}
   }
   
/* Shine Circle Hover Effect */

.shine {
    position: relative;
}

.shine::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.shine:hover::before {
    -webkit-animation: circle 1s;
    animation: circle 1s;
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

